body {
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  font-family: "YuMincho", "Noto Sans JP", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, label, input, a, ul, li {
  display: block;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

.inner {
  max-width: 980px;
  padding-inline: 30px;
  margin: 0 auto;
}

.inner-contact {
  max-width: 860px;
  padding-inline: 30px;
  margin: 0 auto;
}

.title {
  width: 100%;
  text-align: center;
  padding-left: 7px;
}
.title h2 {
  color: #4D9600;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
}
.title p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  margin-top: 6px;
  letter-spacing: 0.3em;
}

.bg-green {
  background-color: rgba(77, 150, 0, 0.1);
}

.bg-darkgreen {
  color: #FFFFFF;
  background-color: #4D9600;
}

header {
  color: #FFFFFF;
  position: relative;
}
header img {
  width: 100%;
}
header h2 {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.75;
  font-weight: 600;
  top: 42.5%;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 0.3em;
}

.header-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 920px;
  width: 100%;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50px;
}
.header-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-inline: 5px;
}
.header-content h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content-list-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8333333333;
}

ul.slick li {
  position: relative;
}

ul .slide-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
ul .slide-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.5;
  border: none;
  margin: 10px;
}
ul .slide-dots li.slick-active button {
  opacity: 1;
}

button.slide-arrow-prev,
button.slide-arrow-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #000000;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  opacity: 0.7;
  border-radius: 50%;
  font-size: 20px;
  z-index: 20;
  border: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

button.slide-arrow-prev {
  left: 30px;
}

button.slide-arrow-next {
  right: 30px;
}

#about {
  position: relative;
}
#about img {
  width: 100%;
}
#about-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#about-textarea {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 23%;
  right: 40%;
}
#about h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 4px;
  margin-left: 42.5px;
}
#about p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7;
  letter-spacing: 7px;
}

#service {
  padding: 80px 0 78px;
  margin: 0 auto;
}
#service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 78px;
}

.service-content-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}
.service-content-item h4 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 20px;
}

.service-content-item:first-of-type {
  margin-top: 68px;
}

.service-content-imagebox {
  width: 65.2173913043%;
  z-index: 100;
}
.service-content-imagebox img {
  width: 100%;
}

.service-content-text {
  margin-top: 145px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  z-index: 10;
  padding: 50px 5px 42px 220px;
  background-color: #4D9600;
  margin-left: -180px;
}
.service-content-text h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
}
.service-content-text p {
  font-weight: 600;
  margin-top: 19px;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row-reverse .service-content-text {
  padding: 50px 220px 42px 40px;
  margin-right: -180px;
  margin-left: auto;
}
.row-reverse h4 {
  text-align: right;
}

#works {
  padding: 80px 0 97px;
}

.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.347826087%;
  margin-top: 68px;
}

.works-content-item {
  width: 2173.9130434783%;
}
.works-content-item img {
  width: 100%;
}
.works-content-item p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 20px;
}

#news {
  padding: 80px 0;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.5217391304%;
  margin-top: 68px;
}

.news-content-box {
  width: 46.7391304348%;
}
.news-content-box h3 {
  padding: 8px 0 9px 20px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 600;
}

.news-content-item {
  background-color: #FFFFFF;
  padding: 10px 20px 20px 20px;
}

.news-content-article {
  display: block;
  border-bottom: 1px solid #55A500;
  padding-top: 15px;
  padding-bottom: 11px;
}
.news-content-article time {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.0625;
}
.news-content-article h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  padding-top: 5px;
}

.news-content-article a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 69px;
}

.news-symbol {
  position: relative;
  text-align: right;
  margin-top: 22px;
}
.news-symbol p {
  color: #55A500;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  padding-right: 35px;
}
.news-symbol img {
  position: absolute;
  right: 0;
  top: 15px;
}

#company {
  padding: 80px 0;
}

.company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

.company-map {
  width: 65.2173913043%;
  z-index: 10;
}
.company-map iframe {
  width: 100%;
  aspect-ratio: 3/2;
}

.company-textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  padding: 50px 5px 42px 220px;
  background-color: #4D9600;
  margin-left: -180px;
  margin-top: 200px;
}
.company-textarea h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}
.company-textarea p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
}
.company-textarea p:nth-of-type(1) {
  margin-top: 7px;
}
.company-textarea p:nth-of-type(2) {
  margin-top: 10px;
}
.company-textarea p:nth-of-type(3) {
  margin-top: 18px;
}
.company-textarea span {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
}

#contact {
  padding: 78px 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}
#contact h3 {
  margin-top: 35px;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-flex .form-content-left {
  width: 170px;
}
.form-flex .form-content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form-flex input {
  width: 100%;
}

.form-name .form-content-right,
.form-email .form-content-right,
.form-category .form-content-right {
  background-color: #FFFFFF;
  padding: 10px 20px;
}

.form-name {
  margin-top: 74px;
}
.form-name .form-content-right {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
}

.form-gender {
  margin-top: 50px;
}
.form-gender .form-content-right {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-gender .form-content-right input {
  margin-right: 26px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  margin-right: 23px;
  position: relative;
  background-color: #FFFFFF;
}
.form-gender .form-content-right input:checked::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form-gender .form-content-right label[for=gender-men] {
  margin-right: 74px;
}

.form-email {
  margin-top: 55px;
}
.form-email .form-content-right {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
}

.form-category {
  margin-top: 53px;
}
.form-category .form-content-right {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  position: relative;
}
.form-category .form-content-right img {
  position: absolute;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-content {
  margin-top: 50px;
}
.form-content textarea {
  margin-top: 10px;
  width: 100%;
  background-color: #FFFFFF;
  padding: 10px;
  min-height: 200px;
  resize: none;
}

.form-question {
  margin-top: 50px;
}
.form-question .form-question-flex {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  row-gap: 13px;
}
.form-question .form-question-flex label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-question .form-question-flex label input {
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 20px;
  background-color: #FFFFFF;
}

.form-textbox {
  margin-top: 50px;
}
.form-textbox .contact-white-textbox {
  margin-top: 10px;
  background-color: #FFFFFF;
  height: 300px;
}
.form-textbox .contact-white-textbox .contact-textbox {
  padding: 40px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7222222222;
  overflow-y: scroll;
  height: 260px;
}

#contact button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 60px;
  border: none;
  background-color: #4D9600;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin: 80px auto 0;
}

#contact button:hover {
  background-color: #FFFFFF;
  color: #4D9600;
}

#ending {
  text-align: center;
  padding: 80px 0;
}
#ending h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}

.ending-link-list {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  border-top: 1px solid #000000;
  margin-top: 28px;
  padding: 28px 0 28px;
}

.ending-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

footer {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  padding: 30px 0;
}/*# sourceMappingURL=style.css.map */