body {
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  font-family: "YuMincho", "Noto Sans JP", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.inner {
  max-width: 980px;
  padding-inline: 30px;
  margin: 0 auto;
}

.title {
  width: 100%;
  text-align: center;
  padding-left: 7px;
}
.title h2 {
  color: #4D9600;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
}
.title p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  margin-top: 6px;
  letter-spacing: 0.3em;
}

.bg-green {
  background-color: rgba(77, 150, 0, 0.1);
}

.bg-darkgreen {
  color: #FFFFFF;
  background-color: #4D9600;
}

header {
  color: #FFFFFF;
  position: relative;
}
header img {
  width: 100%;
}
header h1 {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.75;
  font-weight: 600;
  top: 42.5%;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 0.3em;
}

.header-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 920px;
  width: 100%;
  top: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-content-title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}
.header-content-list-flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8333333333;
}

a:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about {
  position: relative;
}
#about img {
  width: 100%;
}
#about-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#about-textarea {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 23%;
  right: 40%;
}
#about h3 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 4px;
  margin-left: 42.5px;
}
#about p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7;
  letter-spacing: 7px;
}

#service {
  padding: 80px 0 120px;
  margin: 0 auto;
}
#service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;
}

.service-content-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 4.347826087%;
}
.service-content-item h4 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 20px;
}

.service-content-item:first-of-type {
  margin-top: 68px;
}

.service-content-imagebox {
  width: 65.2173913043%;
  z-index: 100;
}
.service-content-imagebox img {
  width: 100%;
}

.service-content-text {
  margin-top: 195px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  z-index: 10;
}
.service-content-text h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
}
.service-content-text p {
  font-weight: 600;
  margin-top: 19px;
}

.green-box-right {
  background-color: #4D9600;
  width: 500px;
  height: 250px;
  z-index: 1;
  position: absolute;
  top: 145px;
  right: 0;
}

.green-box-left {
  background-color: #4D9600;
  width: 500px;
  height: 250px;
  z-index: 1;
  position: absolute;
  top: 145px;
  left: 0;
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.row-reverse h4 {
  text-align: right;
}
.row-reverse h3 {
  padding-left: 40px;
}
.row-reverse p {
  padding-left: 40px;
}

#works {
  padding: 80px 0 97px;
}

.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.347826087%;
  margin-top: 68px;
}

.works-content-item {
  width: 2173.9130434783%;
}
.works-content-item img {
  width: 100%;
}
.works-content-item p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 20px;
}

#news {
  padding: 80px 0;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.5217391304%;
  margin-top: 68px;
}

.news-content-box {
  width: 46.7391304348%;
}

.news-content-title {
  padding: 8px 0 9px 20px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 600;
}

.news-content-item {
  background-color: #FFFFFF;
  padding: 10px 20px 20px 20px;
}

.news-content-article {
  display: block;
  border-bottom: 1px solid #55A500;
  padding-top: 15px;
  padding-bottom: 11px;
}
.news-content-article-left {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.0625;
}
.news-content-article-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  padding-top: 5px;
}

.news-content-article a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 69px;
}

.news-symbol {
  position: relative;
  text-align: right;
  margin-top: 22px;
}
.news-symbol p {
  color: #55A500;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  padding-right: 35px;
}
.news-symbol img {
  position: absolute;
  right: 0;
  top: 15px;
}

#company {
  padding: 80px 0;
}/*# sourceMappingURL=style.css.map */