body {
  margin: 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  font-family: "YuMincho", "Noto Sans JP", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, label, input, a, ul, li {
  display: block;
}

#container {
  width: 100%;
  overflow: hidden;
}

a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

.inner {
  max-width: 980px;
  padding-inline: 30px;
  margin: 0 auto;
}

.inner-contact {
  max-width: 860px;
  padding-inline: 30px;
  margin: 0 auto;
}

.title {
  width: 100%;
  text-align: center;
  padding-left: 7px;
}
.title h2 {
  color: #4D9600;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 0.3em;
}
.title p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  margin-top: 6px;
  letter-spacing: 0.3em;
}

.inline {
  display: inline-block;
}

.bg-green {
  background-color: rgba(77, 150, 0, 0.1);
}

.bg-darkgreen {
  color: #FFFFFF;
  background-color: #4D9600;
}

.upper-arrow {
  position: relative;
  position: fixed;
  width: 6.8rem;
  height: 6.8rem;
  right: 6rem;
  bottom: 6rem;
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .upper-arrow {
    right: 2rem;
    width: 5rem;
    height: 5rem;
  }
}
.upper-arrow img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .pc_none {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sp_none {
    display: none;
  }
}
header {
  color: #FFFFFF;
  position: fixed;
  position: relative;
  z-index: 999;
}
header img {
  width: 100%;
}
header h2 {
  width: 100%;
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.75;
  font-weight: 600;
  top: 42.5%;
  left: 51%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 0.3em;
}
@media screen and (max-width: 767px) {
  header h2 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 2;
    top: 51%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.header-content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 8rem;
  top: 0;
  left: 0;
  padding-top: 2rem;
  padding-left: 6.0185185185vw;
  padding-right: 6.0185185185vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#4D9600), to(rgba(77, 150, 0, 0.4)));
  background: linear-gradient(to bottom, #4D9600, rgba(77, 150, 0, 0.4));
}
@media screen and (max-width: 767px) {
  .header-content {
    padding: 0 0 0 0.5rem;
    height: 5rem;
  }
}
.header-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  padding-inline: 1.5rem;
}
.header-content h1 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-content-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8333333333;
}
@media screen and (max-width: 1000px) {
  .header-content-nav ul {
    display: none;
  }
}

ul.slick li {
  position: relative;
}

ul .slide-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
ul .slide-dots li button {
  font-size: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.5;
  border: none;
  margin: 1rem;
}
ul .slide-dots li.slick-active button {
  opacity: 1;
}

.slick-arrow {
  font-size: 40px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .slick-arrow {
    display: none !important;
  }
}

.slick-prev {
  left: 30px;
  padding: 10px 7px 10px 13px;
}

.slick-next {
  right: 30px;
  padding: 10px 8px 10px 12px;
}

.slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

.header-content-nav a {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}
.header-content-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.header-content-nav a:hover::after {
  width: 100%;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  width: 7.2rem;
  height: 5rem;
  z-index: 10;
}
.hamburger-line, .hamburger-line::before, .hamburger-line::after {
  position: absolute;
  height: 0.4rem;
  width: 3.2rem;
  background-color: #4D9600;
  border-radius: 25%;
  left: 2rem;
  z-index: 11;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.hamburger-line {
  top: 2.1rem;
}
.hamburger-line::before, .hamburger-line::after {
  content: "";
  left: 0;
}
.hamburger-line::before {
  top: -1.2rem;
}
.hamburger-line::after {
  top: 1.2rem;
}

.hamburger.active .hamburger-line {
  background-color: transparent;
}
.hamburger.active .hamburger-line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}
.hamburger.active .hamburger-line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.hamburger-menu {
  position: fixed;
  width: 30rem;
  height: auto;
  top: 5rem;
  right: 0;
  overflow: hidden;
  display: none;
  background-color: #4D9600;
  color: #FFFFFF;
  z-index: 100;
}
.hamburger-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hamburger-menu li {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8333333333;
}
.hamburger-menu a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1.2rem 0 1.2rem 2rem;
}
.hamburger-menu a:hover {
  background-color: #000000;
  opacity: 1;
}

.hamburger-bg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-bg.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.6;
}

#about {
  position: relative;
}
#about img {
  width: 100%;
}

.about-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .about-text-box {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-textarea {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  top: 23%;
  right: 40%;
}
@media screen and (max-width: 767px) {
  .about-textarea {
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
}
.about-textarea h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.18;
  letter-spacing: 4px;
  margin-left: 42.5px;
}
@media screen and (max-width: 767px) {
  .about-textarea h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.18;
    letter-spacing: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
.about-textarea p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7;
  letter-spacing: 7px;
}
@media screen and (max-width: 767px) {
  .about-textarea p {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#service {
  padding: 8rem 0 7.8rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  #service {
    padding: 5rem 0 4.5rem;
  }
}
#service .service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 7.8rem;
}
@media screen and (max-width: 767px) {
  #service .service-content {
    row-gap: 4.5rem;
  }
}

.service-content-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .service-content-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .service-content-item {
    row-gap: 0.5rem;
  }
}
.service-content-item h4 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .service-content-item h4 {
    margin-top: 0.5rem;
  }
}

.service-content-item:first-of-type {
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  .service-content-item:first-of-type {
    margin-top: 4rem;
  }
}

.service-content-imagebox {
  width: 65.2173913043%;
  z-index: 11;
}
@media screen and (max-width: 767px) {
  .service-content-imagebox {
    width: 100%;
  }
}
.service-content-imagebox img {
  width: 100%;
}

.service-content-text {
  margin-top: 145px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  z-index: 10;
  padding: 50px 5px 42px 220px;
  background-color: #4D9600;
  margin-left: -180px;
}
@media screen and (max-width: 767px) {
  .service-content-text {
    margin: 0;
    padding: 20px 20px 12px;
  }
}
.service-content-text h3 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.32;
  font-weight: 600;
  width: 25rem;
}
@media screen and (max-width: 767px) {
  .service-content-text h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.25;
    width: 22.5rem;
  }
}
.service-content-text p {
  font-weight: 600;
  margin-top: 1.9rem;
}
@media screen and (max-width: 767px) {
  .service-content-text p {
    margin-top: 1.4rem;
  }
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .row-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.5rem;
  }
}
.row-reverse .service-content-text {
  padding: 5rem 22rem 4.2rem 4rem;
  margin-right: -18rem;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .row-reverse .service-content-text {
    margin: 0;
    padding: 2rem 2rem 1.2rem;
  }
}
.row-reverse h4 {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .row-reverse h4 {
    text-align: left;
    margin-top: 0.5rem;
  }
}

#works {
  padding: 8rem 0 9.7rem;
}
@media screen and (max-width: 767px) {
  #works {
    padding: 5rem 0 4rem;
  }
}

.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.347826087%;
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  .works-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    row-gap: 2rem;
  }
}

.works-content-item {
  width: 2173.9130434783%;
}
@media screen and (max-width: 767px) {
  .works-content-item {
    width: 100%;
  }
}
.works-content-item img {
  width: 100%;
}
.works-content-item p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .works-content-item p {
    margin-top: 1rem;
  }
}

.modal-area1,
.modal-area2,
.modal-area3,
.modal-area4 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.4;
}

.modal-content-whitebox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45rem;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .modal-content-whitebox {
    width: 31.5rem;
  }
}
.modal-content-whitebox .modal-content {
  margin: 1.5rem 1.5rem 0.6rem;
  width: 42rem;
}
@media screen and (max-width: 767px) {
  .modal-content-whitebox .modal-content {
    margin: 2rem 2rem 1.4rem;
    width: 27.4rem;
    height: auto;
  }
}
.modal-content-whitebox .modal-content picture {
  display: block;
  width: 100%;
}
.modal-content-whitebox .modal-content p {
  margin-top: 10px;
}

.modal-cancel {
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}

#news {
  padding: 8rem 0;
}
@media screen and (max-width: 767px) {
  #news {
    padding: 5.2rem 0 5rem;
  }
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6.5217391304%;
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  .news-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    gap: 5.1rem;
  }
}

.news-content-box {
  width: 46.7391304348%;
}
@media screen and (max-width: 767px) {
  .news-content-box {
    width: 100%;
  }
}
.news-content-box h3 {
  padding: 0.8rem 0 0.9rem 2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 600;
}

.news-content-item {
  background-color: #FFFFFF;
  padding: 1rem 2rem 2rem 2rem;
}
@media screen and (max-width: 767px) {
  .news-content-item {
    padding-right: 2.1rem;
    padding-bottom: 2.2rem;
  }
}

.news-content-article {
  display: block;
  border-bottom: 0.1rem solid #55A500;
  padding-top: 1.5rem;
  padding-bottom: 1.1rem;
}
@media screen and (max-width: 767px) {
  .news-content-article {
    padding-top: 1.3rem;
    padding-bottom: 1.35rem;
  }
}
.news-content-article time {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.0625;
}
.news-content-article h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  padding-top: 0.5rem;
}
@media screen and (max-width: 767px) {
  .news-content-article h4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.news-content-article a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 69px;
}
@media screen and (max-width: 767px) {
  .news-content-article a {
    gap: 2rem;
  }
}

.news-symbol {
  position: relative;
  text-align: right;
  margin-top: 2.2rem;
}
@media screen and (max-width: 767px) {
  .news-symbol {
    margin-top: 1.8rem;
  }
}
.news-symbol p {
  color: #55A500;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  padding-right: 3.5rem;
}
.news-symbol img {
  position: absolute;
  right: 0;
  top: 1.5rem;
}

#company {
  padding: 8rem 0;
}
@media screen and (max-width: 767px) {
  #company {
    padding: 5rem 0;
  }
}

.company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7rem;
}
@media screen and (max-width: 767px) {
  .company-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
  }
}

.company-map {
  width: 65.2173913043%;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .company-map {
    width: 100%;
  }
}
.company-map iframe {
  width: 100%;
  aspect-ratio: 3/2;
}
@media screen and (max-width: 767px) {
  .company-map iframe {
    aspect-ratio: 315/300;
  }
}

.company-textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #FFFFFF;
  padding: 50px 5px 42px 220px;
  background-color: #4D9600;
  margin-left: -180px;
  margin-top: 20rem;
}
@media screen and (max-width: 767px) {
  .company-textarea {
    margin: 0;
    padding: 2rem 2rem 1.4rem;
    width: 100%;
  }
}
.company-textarea h3 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}
.company-textarea p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
}
.company-textarea p:nth-of-type(1) {
  margin-top: 0.7rem;
}
.company-textarea p:nth-of-type(2) {
  margin-top: 1rem;
}
.company-textarea p:nth-of-type(3) {
  margin-top: 1.8rem;
}
@media screen and (max-width: 767px) {
  .company-textarea p:nth-of-type(3) {
    margin-top: 1.5rem;
  }
}
.company-textarea span {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;
}

.company-tel,
.company-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact {
  padding: 7.8rem 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}
@media screen and (max-width: 767px) {
  #contact {
    padding: 5rem 0;
  }
}
#contact h3 {
  margin-top: 3.5rem;
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-flex .form-content-left {
  width: 17rem;
}
.form-flex .form-content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.form-flex input {
  width: 100%;
}

.form-name .form-content-right,
.form-email .form-content-right,
.form-category .form-content-right {
  background-color: #FFFFFF;
  padding: 1.2rem 2rem;
}

.form-name {
  margin-top: 6.8rem;
}
@media screen and (max-width: 767px) {
  .form-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 4rem;
  }
}
.form-name .form-content-right {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
  width: 100%;
  margin-top: 0.3rem;
}

.form-gender {
  margin-top: 5rem;
}
@media screen and (max-width: 767px) {
  .form-gender {
    margin-top: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .form-gender .form-content-left {
    width: 9rem;
  }
}
.form-gender .form-content-right {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.5rem;
}
@media screen and (max-width: 767px) {
  .form-gender .form-content-right {
    padding-left: 0;
  }
}
.form-gender .form-content-right input {
  margin-right: 2.6rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  margin-right: 1.8rem;
  position: relative;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .form-gender .form-content-right input {
    margin-right: rem;
  }
}
.form-gender .form-content-right input:checked::before {
  content: "";
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.form-gender .form-content-right label[for=gender-men] {
  margin-right: 7.4rem;
}
@media screen and (max-width: 767px) {
  .form-gender .form-content-right label[for=gender-men] {
    margin-right: 3rem;
  }
}

.form-email {
  margin-top: 5rem;
}
@media screen and (max-width: 767px) {
  .form-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 3rem;
  }
}
.form-email .form-content-right {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5625;
}
@media screen and (max-width: 767px) {
  .form-email .form-content-right {
    width: 100%;
  }
}

.form-category {
  margin-top: 5rem;
}
@media screen and (max-width: 767px) {
  .form-category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 3.3rem;
  }
}
.form-category .form-content-right {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  position: relative;
}
@media screen and (max-width: 767px) {
  .form-category .form-content-right {
    width: 100%;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}
.form-category .form-content-right img {
  position: absolute;
  top: 50%;
  right: 1.7rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 767px) {
  .form-category .form-content-right img {
    right: 2.2rem;
  }
}

.form-content {
  margin-top: 5rem;
}
@media screen and (max-width: 767px) {
  .form-content {
    margin-top: 3rem;
  }
}
.form-content textarea {
  margin-top: 1rem;
  width: 100%;
  background-color: #FFFFFF;
  padding: 1rem;
  min-height: 20rem;
  resize: none;
}
@media screen and (max-width: 767px) {
  .form-content textarea {
    margin-top: 0;
  }
}

.form-question {
  margin-top: 5.2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.35;
}
@media screen and (max-width: 767px) {
  .form-question {
    margin-top: 3rem;
  }
}
.form-question .form-question-flex {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.4rem;
  row-gap: 1.3rem;
}
@media screen and (max-width: 767px) {
  .form-question .form-question-flex {
    row-gap: 0.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.5625;
    margin-top: 0;
  }
}
.form-question .form-question-flex label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .form-question .form-question-flex label {
    width: 50%;
  }
}
.form-question .form-question-flex label input {
  width: 2rem;
  height: 2rem;
  border: none;
  margin-right: 2rem;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .form-question .form-question-flex label input {
    margin-right: 1rem;
  }
}

.form-textbox {
  margin-top: 5rem;
}
@media screen and (max-width: 767px) {
  .form-textbox {
    margin-top: 3rem;
  }
}
.form-textbox .contact-white-textbox {
  margin-top: 1rem;
  background-color: #FFFFFF;
  height: 30rem;
}
@media screen and (max-width: 767px) {
  .form-textbox .contact-white-textbox {
    margin-top: 0;
    height: 32.3rem;
  }
}
.form-textbox .contact-white-textbox .contact-textbox {
  padding: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7222222222;
  overflow-y: scroll;
  height: 26rem;
}
@media screen and (max-width: 767px) {
  .form-textbox .contact-white-textbox .contact-textbox {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.0625;
    padding: 3rem 5rem 3rem 3rem;
    height: 29rem;
  }
}

#contact button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.9rem 6rem;
  border: 0.1rem solid #4D9600;
  background-color: #4D9600;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin: 8rem auto 0;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  #contact button {
    margin-top: 4.9rem;
    padding: 0.75rem 6.5rem;
  }
}

#contact button:hover {
  background-color: #FFFFFF;
  color: #4D9600;
}

#ending {
  text-align: center;
  padding: 8rem 0;
}
@media screen and (max-width: 767px) {
  #ending {
    padding: 4.8rem 0 5rem;
  }
}
#ending h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
}

.ending-link-list {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.1rem solid #000000;
  margin-top: 2.8rem;
  padding: 1.8rem 0;
}
@media screen and (max-width: 767px) {
  .ending-link-list {
    margin-top: 2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1.3rem 0 2.5rem;
    -webkit-column-gap: 1.3rem;
       -moz-column-gap: 1.3rem;
            column-gap: 1.3rem;
  }
}
.ending-link-list a {
  padding: 1rem 2.6rem;
}
@media screen and (max-width: 767px) {
  .ending-link-list a {
    padding: 0.4rem 0.8rem;
  }
}

.ending-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

footer {
  padding-inline: 2rem;
}

footer p {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.65;
  padding: 3rem 0;
}
@media screen and (max-width: 767px) {
  footer p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.25;
    padding: 2rem 0;
  }
}/*# sourceMappingURL=style.css.map */