@charset "utf-8";

// --------------------定義--------------------

// color定義 
$main-color:#000000;
$sb-color:#FFFFFF;
$accent-color:#4D9600;
$main-bg-color:#FFFFFF;
$accent-bg-color:rgba(77, 150, 0, 0.1);

// font定義
$font-base: "YuMincho", "Noto Serif JP" ,sans-serif;

@mixin text-style($size: 1.6rem, $lineHeight: (25/16)) {
  font-weight: 500;
  font-size: $size;
  line-height: $lineHeight;
}

// --------------------共通--------------------
body {
    margin: 0;
    @include text-style();
    font-family: $font-base;
    color: $main-color;
    background-color: $main-bg-color;
}

html { 
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

.inner {
    max-width: 1080px-80-80+30+30;
    padding-inline: 30px;
    margin: 0 auto;
}

.title {
    width: 100%;
    text-align: center;
    padding-left: 7px;

    h2 {
        color: $accent-color;
        @include text-style(3.0rem, (33/30));
        letter-spacing:0.3em;
    }

    p {
        @include text-style(2.0rem, (33/20));
        margin-top: 6px;
        letter-spacing:0.3em;
    }
}

.bg-green {
    background-color: $accent-bg-color;
}

.bg-darkgreen {
    color: $sb-color;
    background-color: $accent-color;
}

// --------------------header--------------------
header {
    color: $sb-color;
    position: relative;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        text-align: center;
        @include text-style(4.0rem, (70/40));
        font-weight: 600;
        top: (340%/8);
        left: 51%;
        transform: translateX(-50%);
        letter-spacing: 0.3em;
    }
}

.header-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    max-width: 1080px-80px-80px;
    width: 100%;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    

    &-title {
        @include text-style(2.0rem, (33/20));
    }

    &-list-flex ul{
        display: flex;
        gap: 31px;
        @include text-style(1.8rem, (33/18));
    }
}

// --------------------about--------------------
#about {
    position: relative;

    img {
        width: 100%;
    }

    &-text-box {
        display: flex;
        justify-content: flex-end;
    }

    &-textarea {
        writing-mode: vertical-rl;
        position: absolute;
        top: 23%;
        right: 40%;
    }
        h3{
            @include text-style(3.0rem, 1.18);
            letter-spacing:4px;
            margin-left: 42.5px;
        }

        p{
            @include text-style(1.8rem, 2.7);
            letter-spacing: 7px;
        }
}

// --------------------service--------------------
#service {
    padding: 80px 0 120px;
    margin: 0 auto;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 120px;
    }
}

.service-content-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: (40%/9.2);

    h4 {
        @include text-style();
        margin-top: 20px;
    }
}

.service-content-item:first-of-type{
    margin-top: 68px;
}

.service-content-imagebox {
    width: (600%/9.20);
    z-index: 100;

    img {
        width: 100%;
    }
}

.service-content-text {
    margin-top: 195px;
    flex: 1;
    color: $sb-color;
    z-index: 10;

    h3 {
        @include text-style(2.5rem,(33/25));
        font-weight: 600;
    }

    p {
        font-weight: 600;
        margin-top: 19px;
    }
}

@mixin green-box-style {
    background-color: $accent-color;
    width: 500px;
    height: 250px;
    z-index: 1;
    position: absolute;
    top: 145px;
}

.green-box-right {
    @include green-box-style();
    right: 0;
}

.green-box-left {
    @include green-box-style();
    left: 0;
}

.row-reverse {
    flex-direction: row-reverse;

    h4 {
        text-align: right;
    }
    h3{
        padding-left: 40px;
    }

    p {
        padding-left: 40px;
    }
}

// --------------------works--------------------
#works {
    padding: 80px 0 97px;
}

.works-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:(40%/9.2);
    margin-top: 68px;
}

.works-content-item {
    width: (200%/9.2);

    img {
        width: 100%;
    }

    p {
        @include text-style();
        margin-top: 20px;
    }
}

// --------------------news--------------------
#news {
    padding: 80px 0;
}

.news-content {
    display: flex;
    justify-content: center;
    gap: (60%/9.2);
}

.news-content-box {
    width: (430%/9.2);
}

.news-content-item {
    background-color: $main-bg-color;
}
